@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for theme colors */
:root {
  --muted: 220 14% 96%;
  --muted-foreground: 220 9% 46%;
}

.dark {
  --muted: 240 3% 26%;
  --muted-foreground: 240 5% 65%;
}

/* You can add custom global styles below */

.expenses-date-range {
  position: absolute;
}

.expenses-date-range button[data-slot="selector-button"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
}
.expenses-date-range button[data-slot="selector-button"] > * {
  opacity: 0;
}

.container-padding {
  @apply py-4 md:py-8;
}